.getnewsbanner{
    width: 100%;
    height: 400px;
    background: url("../../../assets/images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover
}

.getNews{
    height: 400px;
}

.cpyright{
    width: 100%;
    height: 80px;
}

.copySpace{
    height: 80px;
}