.badgeFont {
    font-family: "Roboto", sans-serif;
    font-size: $fz12;
}

// .myNavbar {
//      z-index: 1090;
// }

.nav-scroller {
    height: 2.75rem; /* 隱藏下方捲軸 */
    overflow-y: hidden;
    border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
    overflow-x: auto;
    white-space: pre;
}
.nav-link {
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom: 1px solid #d80eb1;
    }
}
.navCategory .active {
    border-bottom: 1px solid #d80eb1;
}

@include media-breakpoint-up(lg) {
    .position-lg-absolute {
        position: absolute;
    }
    .translate-lg-middle {
        transform: translate(-50%, -50%);
    }
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
    // z-index: $zindex-modal-backdrop;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal {
    &-content {
        border-radius: 0;
        border: none;
    }
    &-header {
        border-bottom: none;
    }
    &-body {
        .card {
            max-width: 540px;
        }
    }
    &-footer {
        border-top: none;
    }
}

.offcanvas {
    margin-top: 82.5px;
    width: 540px;
    transform: translateX(100%);
}
.cartinput{
    width: 33px;
}

.offcanvas-body img{
    height: 120px;
    width: 120px;
    object-fit: cover;
}
.offcanvasScroll{
    /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E31277; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}