.taiwanDesign,.onlineDesign,.KaohsiungDesign{
    width: 100%;
    // height: 417px;
}

.design .designDate{
    font-family:'Roboto', sans-serif ;
    width: 5.4%;
    @include pad{
        width: 100%;
    }
}

.design img{
    width: 100%;
    height: 285px;
    object-fit: cover;
    @include mobile{
        height: 221px;
    }
}

.design h3{
    font-size:$fz36;
    @include pad{
        font-size: $h3-font-size;
    }
}