
.material-icons,
.material-icons-outlined {
  display: inline;
  vertical-align: middle;
  vertical-align:bottom;
  line-height: 1px;
}
// a{
//     text-decoration: none;
// }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
}


